.aboutContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (max-width: 768px) {
  .aboutContent {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
