.aboutContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;

  @media (max-width: 768px) {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
