.burgerIcon {
  position: fixed;
  bottom: 10px;
  right: 3%;
  width: 50px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--heading-color);
  padding: 10px;
  border-radius: 50%;
}

.burgerMenu {
  position: fixed;
  bottom: 150px;
  left: 50%;
  width: 47%;
  height: 120px;
  background-color: #666;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
